{% extends "base.html" %}
{% load static %}
{% block page_content %}

<h3>Orders
<a href="{% url 'order_create' %}" class="btn btn-success">New Order</a>
</h3>
<table class="table table-striped">
    <thead class="thead-dark">
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Restaurant</th>
        <th scope="col">Request</th>
        <th scope="col">Price ($)</th>
        <th scope="col">Remove</th>
    </thead>
    <tbody>
        {% for order in orders %}
        <form action="" method="post">
            <tr>
                <th scope="row">
                    <a href="{% url 'order_detail' order.pk %}">
                        {{ order.id }}
                    </a>
                </th>
                <td><a href="/users/{{ order.user.id }}">{{ order.user.first_name }} {{ order.user.last_name }}</a></td>
                <td><a href="/restaurants/{{ order.restaurant.id }}">{{ order.restaurant.name }}</a></td>
                <td>{{ order.food_request }}</td>
                <td>{{ order.price }}</td>
                <td>
                        <input type="hidden" id="id" name="id" value="{{ order.id }}">
                        <button type="submit" class="btn btn-danger" name="intent" value="rm">Remove</button>
                </td>
            </tr>
        </form>
        {% endfor %}
    </tbody>
</table>
{% endblock %}